name: "Publish Python distribution to PyPI"

on:
  push:
    tags:
      - v*
jobs:
  build-and-publish:
    name: "Publish Python distribution to PyPI"
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@main
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: "Build Python package"
        run: |
          python3 -m pip install --user --upgrade build
          python3 -m build

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          password: ${{ secrets.pypi_password }}
